**Q1. Write a code to reverse a string.**

In [1]:
# Function to reverse a string
def reverse_string(s):
    return s[::-1]

# Example usage
input_string = "Hello, World!"
reversed_string = reverse_string(input_string)
print(reversed_string)

!dlroW ,olleH

**Q2. Write a code to count the number of vowels in a string.**

In [2]:
# Function to count the number of vowels in a string
def count_vowels(s):
    vowels = "aeiouAEIOU"
    count = sum(1 for char in s if char in vowels)
    return count

# Example usage
input_string = "Hello, World!"
vowel_count = count_vowels(input_string)
print("Number of vowels:", vowel_count)

Number of vowels: 3

**Q3. Write a code to check if a given string is a palindrome or not.**

In [3]:
# Function to check if a string is a palindrome
def is_palindrome(s):
    # Normalize the string by removing spaces and converting to lowercase
    s = s.replace(" ", "").lower()
    return s == s[::-1]

# Example usage
input_string = "A man a plan a canal Panama"
result = is_palindrome(input_string)
print("Is the string a palindrome?", result)

Is the string a palindrome? True

**Q4. Write a code to check if two given strings are anagrams of each other.**

In [4]:
# Function to check if two strings are anagrams
def are_anagrams(str1, str2):
    # Remove spaces and convert to lowercase
    str1 = str1.replace(" ", "").lower()
    str2 = str2.replace(" ", "").lower()
    # Sort the characters and compare
    return sorted(str1) == sorted(str2)

# Example usage
string1 = "Listen"
string2 = "Silent"
result = are_anagrams(string1, string2)
print("Are the two strings anagrams?", result)

Are the two strings anagrams? True

**Q5. Write a code to find all occurrences of a given substring within another string.**

In [5]:
# Function to find all occurrences of a substring within a string
def find_substring_occurrences(main_string, substring):
    start = 0
    occurrences = []

    while True:
        start = main_string.find(substring, start)
        if start == -1:
            break
        occurrences.append(start)
        start += 1  # Move to the next character after the found substring

    return occurrences

# Example usage
main_string = "Hello, hello, how low?"
substring = "hello"
occurrences = find_substring_occurrences(main_string, substring)
print("Occurrences of substring:", occurrences)

Occurrences of substring: [7]

**Q6. Write a code to perform basic string compression using the counts of repeated characters.**

In [6]:
# Function to compress a string using counts of repeated characters
def compress_string(s):
    if not s:
        return ""

    compressed = []
    count = 1

    for i in range(1, len(s)):
        if s[i] == s[i - 1]:
            count += 1
        else:
            compressed.append(s[i - 1] + str(count))
            count = 1

    # Append the last character and its count
    compressed.append(s[-1] + str(count))

    return ''.join(compressed)

# Example usage
input_string = "aaabbcdddde"
compressed_string = compress_string(input_string)
print("Compressed string:", compressed_string)

Compressed string: a3b2c1d4e1

**Q7. Write a code to determine if a string has all unique characters.**

In [7]:
# Function to check if a string has all unique characters
def has_all_unique_characters(s):
    # Normalize the string by removing spaces and converting to lowercase
    s = s.replace(" ", "").lower()
    # Use a set to track seen characters
    seen = set()

    for char in s:
        if char in seen:
            return False
        seen.add(char)

    return True

# Example usage
input_string = "abcdefg"
result = has_all_unique_characters(input_string)
print("Does the string have all unique characters?", result)

Does the string have all unique characters? True

**Q8. Write a code to convert a given string to uppercase or lowercase.**

In [8]:
# Function to convert a string to uppercase or lowercase
def convert_case(s, to_upper=True):
    if to_upper:
        return s.upper()
    else:
        return s.lower()

# Example usage
input_string = "Hello, World!"
uppercased_string = convert_case(input_string, to_upper=True)
lowercased_string = convert_case(input_string, to_upper=False)

print("Uppercase:", uppercased_string)
print("Lowercase:", lowercased_string)

Uppercase: HELLO, WORLD!
Lowercase: hello, world!

**Q9. Write a code to count the number of words in a string.**

In [9]:
# Function to count the number of words in a string
def count_words(s):
    # Split the string into words based on whitespace
    words = s.split()
    return len(words)

# Example usage
input_string = "Hello, world! This is a test string."
word_count = count_words(input_string)
print("Number of words:", word_count)

Number of words: 7

**Q10. Write a code to concatenate two strings without using the + operator.**

In [10]:
# Function to concatenate two strings without using the + operator
def concatenate_strings(str1, str2):
    return ''.join([str1, str2])

# Example usage
string1 = "Hello"
string2 = "World"
concatenated_string = concatenate_strings(string1, string2)
print("Concatenated string:", concatenated_string)

Concatenated string: HelloWorld

**Q11. Write a code to remove all occurrences of a specific element from a list.**

In [11]:
# Function to remove all occurrences of a specific element from a list
def remove_occurrences(lst, element):
    return [item for item in lst if item != element]

# Example usage
input_list = [1, 2, 3, 2, 4, 2, 5]
element_to_remove = 2
result_list = remove_occurrences(input_list, element_to_remove)
print("List after removing occurrences:", result_list)

List after removing occurrences: [1, 3, 4, 5]

**Q12. Implement a code to find the second largest number in a given list of integers.**

In [12]:
# Function to find the second largest number in a list
def second_largest(lst):
    unique_numbers = list(set(lst))  # Remove duplicates
    unique_numbers.sort()  # Sort the numbers
    if len(unique_numbers) < 2:
        return None  # Return None if there is no second largest
    return unique_numbers[-2]  # Return the second last item

# Example usage
input_numbers = [5, 3, 9, 1, 5, 6]
second_largest_number = second_largest(input_numbers)
print("Second largest number:", second_largest_number)

Second largest number: 6

**Q13. Create a code to count the occurrences of each element in a list and return a dictionary with elements as keys and their counts as values.**

In [13]:
# Function to count the occurrences of each element in a list
def count_occurrences(lst):
    count_dict = {}
    for item in lst:
        if item in count_dict:
            count_dict[item] += 1
        else:
            count_dict[item] = 1
    return count_dict

# Example usage
input_list = [1, 2, 2, 3, 1, 4, 4, 4]
occurrences = count_occurrences(input_list)
print("Occurrences of each element:", occurrences)

Occurrences of each element: {1: 2, 2: 2, 3: 1, 4: 3}

**Q14. Write a code to reverse a list in-place without using any built-in reverse functions.**

In [14]:
# Function to reverse a list in-place
def reverse_list(lst):
    left = 0
    right = len(lst) - 1
    while left < right:
        # Swap the elements
        lst[left], lst[right] = lst[right], lst[left]
        left += 1
        right -= 1

# Example usage
input_list = [1, 2, 3, 4, 5]
reverse_list(input_list)
print("Reversed list:", input_list)

Reversed list: [5, 4, 3, 2, 1]

**Q15. Implement a code to find and remove duplicates from a list while preserving the original order of elements.**

In [15]:
# Function to remove duplicates from a list while preserving the original order
def remove_duplicates(lst):
    seen = set()
    result = []
    for item in lst:
        if item not in seen:
            seen.add(item)
            result.append(item)
    return result

# Example usage
input_list = [1, 2, 3, 2, 4, 1, 5, 3]
unique_list = remove_duplicates(input_list)
print("List after removing duplicates:", unique_list)

List after removing duplicates: [1, 2, 3, 4, 5]

**Q16. Create a code to check if a given list is sorted (either in ascending or descending order) or not.**

In [16]:
# Function to check if a list is sorted in ascending or descending order
def is_sorted(lst):
    ascending = all(lst[i] <= lst[i + 1] for i in range(len(lst) - 1))
    descending = all(lst[i] >= lst[i + 1] for i in range(len(lst) - 1))
    return ascending or descending

# Example usage
input_list = [1, 2, 3, 4, 5]
result = is_sorted(input_list)
print("Is the list sorted?", result)

Is the list sorted? True

**Q17. Write a code to merge two sorted lists into a single sorted list.**

In [18]:
# Function to merge two sorted lists into a single sorted list
def merge_sorted_lists(list1, list2):
    merged_list = []
    i, j = 0, 0

    while i < len(list1) and j < len(list2):
        if list1[i] < list2[j]:
            merged_list.append(list1[i])
            i += 1
        else:
            merged_list.append(list2[j])
            j += 1

    # Append any remaining elements
    merged_list.extend(list1[i:])
    merged_list.extend(list2[j:])

    return merged_list

# Example usage
sorted_list1 = [1, 3, 5]
sorted_list2 = [2, 4, 6]
merged = merge_sorted_lists(sorted_list1, sorted_list2)
print("Merged sorted list:", merged)

Merged sorted list: [1, 2, 3, 4, 5, 6]

**Q18. Implement a code to find the intersection of two given lists.**

In [19]:
# Function to find the intersection of two lists
def list_intersection(list1, list2):
    return list(set(list1) & set(list2))

# Example usage
input_list1 = [1, 2, 3, 4]
input_list2 = [3, 4, 5, 6]
intersection = list_intersection(input_list1, input_list2)
print("Intersection of the two lists:", intersection)

Intersection of the two lists: [3, 4]

**Q19. Create a code to find the union of two lists without duplicates.**

In [20]:
# Function to find the union of two lists without duplicates
def list_union(list1, list2):
    return list(set(list1) | set(list2))

# Example usage
input_list1 = [1, 2, 3, 4]
input_list2 = [3, 4, 5, 6]
union = list_union(input_list1, input_list2)
print("Union of the two lists:", union)

Union of the two lists: [1, 2, 3, 4, 5, 6]

**Q20. Write a code to shuffle a given list randomly without using any built-in shuffle functions.**

In [21]:
import random

# Function to shuffle a list randomly
def shuffle_list(lst):
    for i in range(len(lst) - 1, 0, -1):
        j = random.randint(0, i)
        lst[i], lst[j] = lst[j], lst[i]  # Swap elements
    return lst

# Example usage
input_list = [1, 2, 3, 4, 5]
shuffled = shuffle_list(input_list.copy())  # Use copy to keep original list unchanged
print("Shuffled list:", shuffled)

Shuffled list: [5, 1, 4, 2, 3]

**Q21. Write a code that takes two tuples as input and returns a new tuple containing elements that are common to both input tuples.**

In [22]:
# Function to find common elements in two tuples
def common_elements(tuple1, tuple2):
    return tuple(set(tuple1) & set(tuple2))

# Example usage
tuple1 = (1, 2, 3, 4)
tuple2 = (3, 4, 5, 6)
common = common_elements(tuple1, tuple2)
print("Common elements in the tuples:", common)

Common elements in the tuples: (3, 4)

**Q22.  Create a code that prompts the user to enter two sets of integers separated by commas. Then, print the intersection of these two sets.**

In [19]:
# Function to get intersection of two sets from user input
def get_intersection_from_input():
    set1_input = input("Enter the first set of integers separated by commas: ")
    set2_input = input("Enter the second set of integers separated by commas: ")

    set1 = set(map(int, set1_input.split(',')))
    set2 = set(map(int, set2_input.split(',')))

    intersection = set1 & set2
    print("Intersection of the two sets:", intersection)
get_intersection_from_input()

Enter the first set of integers separated by commas: 1, 2, 3, 4
Enter the second set of integers separated by commas: 3, 4, 5, 6
Intersection of the two sets: {3, 4}

**Q23. Write a code to concatenate two tuples. The function should take two tuples as input and return a new tuple containing elements from both input tuples.**

In [25]:
# Function to concatenate two tuples
def concatenate_tuples(tuple1, tuple2):
    return tuple1 + tuple2

# Example usage
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
concatenated = concatenate_tuples(tuple1, tuple2)
print("Concatenated tuple:", concatenated)

Concatenated tuple: (1, 2, 3, 4, 5, 6)

**24. Develop a code that prompts the user to input two sets of strings. Then, print the elements that are present in the first set but not in the second set.**

In [16]:
# Function to get the difference between two sets of strings
def set_difference():
    set1_input = input("Enter the first set of strings separated by commas: ")
    set2_input = input("Enter the second set of strings separated by commas: ")

    set1 = set(set1_input.split(','))
    set2 = set(set2_input.split(','))

    difference = set1 - set2
    print("Elements present in the first set but not in the second set:", difference)
set_difference()

Enter the first set of strings separated by commas: 'apple, orange, banana'
Enter the second set of strings separated by commas: 'banana, grape'
Elements present in the first set but not in the second set: {' orange', "'apple", " banana'"}

**25. Create a code that takes a tuple and two integers as input. The function should return a new tuple containing elements from the original tuple within the specified range of indices.**

In [20]:
# Function to return a subtuple within a specified range
def subtuple_from_range(tpl, start_idx, end_idx):
    return tpl[start_idx:end_idx]

# Example usage
input_tuple = (1, 2, 3, 4, 5, 6)
start, end = 2, 5
subtuple = subtuple_from_range(input_tuple, start, end)
print("Subtuple:", subtuple)

Subtuple: (3, 4, 5)

**26. Write a code that prompts the user to input two sets of characters. Then, print the union of these two sets.**

In [24]:
# Function to get the union of two sets of characters
def set_union():
    set1_input = input("Enter the first set of characters separated by commas: ")
    set2_input = input("Enter the second set of characters separated by commas: ")

    set1 = set(set1_input.split(','))
    set2 = set(set2_input.split(','))

    union = set1 | set2
    print("Union of the two sets:", union)
set_union()

Enter the first set of characters separated by commas: a,b,c
Enter the second set of characters separated by commas: c,d,e
Union of the two sets: {'b', 'e', 'd', 'c', 'a'}

**27. Develop a code that takes a tuple of integers as input. The function should return the maximum and minimum values from the tuple using tuple unpacking.**

In [25]:
# Function to return the maximum and minimum values from a tuple
def max_min_tuple(tpl):
    return max(tpl), min(tpl)

# Example usage
input_tuple = (1, 3, 5, 7, 2, 8)
max_val, min_val = max_min_tuple(input_tuple)
print("Max:", max_val)
print("Min:", min_val)

Max: 8
Min: 1

**28. Create a code that defines two sets of integers. Then, print the union, intersection, and difference of these two sets.**

In [26]:
# Function to perform union, intersection, and difference of two sets
def set_operations():
    set1 = {1, 2, 3, 4}
    set2 = {3, 4, 5, 6}

    union = set1 | set2
    intersection = set1 & set2
    difference = set1 - set2

    print("Union:", union)
    print("Intersection:", intersection)
    print("Difference:", difference)
set_operations()

Union: {1, 2, 3, 4, 5, 6}
Intersection: {3, 4}
Difference: {1, 2}

**29. Write a code that takes a tuple and an element as input. The function should return the count of occurrences of the given element in the tuple.**

In [27]:
# Function to count occurrences of an element in a tuple
def count_element_in_tuple(tpl, element):
    return tpl.count(element)

# Example usage
input_tuple = (1, 2, 3, 2, 4, 2, 5)
element = 2
count = count_element_in_tuple(input_tuple, element)
print(f"Element {element} occurs {count} times in the tuple.")

Element 2 occurs 3 times in the tuple.

**30. Develop a code that prompts the user to input two sets of strings. Then, print the symmetric difference of these two sets.**

In [31]:
# Function to get the symmetric difference between two sets of strings
def symmetric_difference():
    set1_input = input("Enter the first set of strings separated by commas: ")
    set2_input = input("Enter the second set of strings separated by commas: ")

    set1 = set(set1_input.split(','))
    set2 = set(set2_input.split(','))

    sym_diff = set1 ^ set2
    print("Symmetric difference of the two sets:", sym_diff)
symmetric_difference()

Enter the first set of strings separated by commas: a , b , c
Enter the second set of strings separated by commas: c , d
Symmetric difference of the two sets: {' d', 'c ', 'a ', ' b ', ' c'}

**31. Write a code that takes a list of words as input and returns a dictionary where the keys are unique words and the values are the frequencies of those words in the input list.**

In [32]:
# Function to return word frequencies in a list
def word_frequencies(words):
    freq_dict = {}
    for word in words:
        freq_dict[word] = freq_dict.get(word, 0) + 1
    return freq_dict


word_list = ["apple", "banana", "apple", "orange", "banana", "apple"]
frequencies = word_frequencies(word_list)
print("Word frequencies:", frequencies)

Word frequencies: {'apple': 3, 'banana': 2, 'orange': 1}

**32. Write a code that takes two dictionaries as input and merges them into a single dictionary. If there are common keys, the values should be added together.**

In [33]:
# Function to merge two dictionaries and add values of common keys
def merge_dictionaries(dict1, dict2):
    merged = dict1.copy()
    for key, value in dict2.items():
        if key in merged:
            merged[key] += value
        else:
            merged[key] = value
    return merged

dict1 = {'a': 1, 'b': 2, 'c': 3}
dict2 = {'b': 3, 'c': 4, 'd': 5}
merged_dict = merge_dictionaries(dict1, dict2)
print("Merged dictionary:", merged_dict)

Merged dictionary: {'a': 1, 'b': 5, 'c': 7, 'd': 5}

**33. Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of keys as input, and return the corresponding value. If any of the keys do not exist in the dictionary, the function should return None.**

In [34]:
# Function to access a value in a nested dictionary
def access_nested_dict(nested_dict, keys):
    current = nested_dict
    for key in keys:
        if key in current:
            current = current[key]
        else:
            return None
    return current


nested_dict = {'a': {'b': {'c': 42}}}
keys = ['a', 'b', 'c']
value = access_nested_dict(nested_dict, keys)
print("Value:", value)

Value: 42

**34. Write a code that takes a dictionary as input and returns a sorted version of it based on the values. You can choose whether to sort in ascending or descending order.**

In [35]:
# Function to sort a dictionary by values
def sort_dict_by_values(d, descending=False):
    return dict(sorted(d.items(), key=lambda item: item[1], reverse=descending))


input_dict = {'a': 3, 'b': 1, 'c': 2}
sorted_dict = sort_dict_by_values(input_dict, descending=False)
print("Sorted dictionary:", sorted_dict)

Sorted dictionary: {'b': 1, 'c': 2, 'a': 3}

**35. Write a code that inverts a dictionary, swapping keys and values. Ensure that the inverted dictionary correctly handles cases where multiple keys have the same value by storing the keys as a list in the inverted dictionary.**

In [36]:
# Function to invert a dictionary
def invert_dict(d):
    inverted = {}
    for key, value in d.items():
        if value in inverted:
            inverted[value].append(key)
        else:
            inverted[value] = [key]
    return inverted


input_dict = {'a': 1, 'b': 2, 'c': 1}
inverted_dict = invert_dict(input_dict)
print("Inverted dictionary:", inverted_dict)

Inverted dictionary: {1: ['a', 'c'], 2: ['b']}